# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

#Resharper Files
_ReSharper.RangoricMUD

#User Settings
RangoricMUD.v11.suo
RangoricMUD.ncrunchsolution
RangoricMUD.ncrunchsolution.user

#Ignore Nuget Packages
packages