# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

#Resharper Files
_ReSharper.RangoricMUD

#User Settings
RangoricMUD.v11.suo
RangoricMUD.sln.DotSettings.user

#Ignore Nuget Packages
packages

#Ignore NCrunch Stuff
RangoricMUD.ncrunchsolution
RangoricMUD.ncrunchproject
RangoricMUD.ncrunchsolution.user
RangoricMUD.crunchsolution.cache

#Ignore RavenDB Data Directory
App_Data