@{
    ViewBag.Title = "Homepage";
}
<div data-bind="if: Page() === 'Home/Index'">
    <div class="Homepage" data-bind="visible: Page() === 'Home/Index'">
        <h2>Homepage</h2>    
    </div>
</div>
