@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Playground</title>
    <script src="~/Scripts/three.js" type="text/javascript"></script>
</head>
    <body>
        
    </body>
    <script src="~/Assets/Scripts/Playground/Stuff.js" type="text/javascript"></script>
</html>
