@Color: rgb(255,255,255);
@UIColor: rgb(184, 72, 184);
@BackgroundColor: rgb(176, 176, 255);
@DisabledUIColor: darken(@BackgroundColor, 10);
@ActiveUIColor: lighten(@UIColor, 10%);
@FocusBorderColor: rgb(128,16,128);
@DisabledColor: rgb(0,0,0);
