@import "Layout.less";
// Baseline
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: @FontSize;
	line-height:@FontSize / 4 * 5;
	height:100%;
	width:100%;
	overflow:hidden;
	.Coloring;
}
// End Baseline

//	Panel
.Panel {
    .ContainerSize(5, 2);
    .BackgroundColor('Panel');
    margin: @Margin;
    float: left;

    > div:first-child {
        float: left;
        margin-left: @Margin;
        margin-right: @Margin;
        .ObjectWidth(5);
        height: 22px;
    }

    > div:nth-child(2) {
        float: left;
        margin-left: @Margin;
        margin-right: @Margin;
        height: 34px;
        font-size: 14px;
        line-height: 17px;
		overflow:hidden;
    }

    > div:last-child {
        float: left;
        .ContainerSize(5, 2);

        button {
            float: right;
            margin: @Margin;
            .ObjectSize(1, 1);
        }
    }
}
@media (min-width:576px){
    .Panel {
        .ContainerSize(5, 3);

		> div:first-child{
			height:24px;
		}
        > div:nth-child(2) {
			height:88px;
        }
    }
}
//	End Panel



#Scene {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
}/*
.Menu {
    position: absolute;
    top: 0;
    right: 0;
    .ContainerHeight;

    button {
        float: right;
    }
}

.Heading {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    margin: @Margin;
}

.Page {
    position: absolute;
    top: @ButtonSize + @Margin * 2;
    left: 0;
    right: 0;
    bottom: 0;

    .FormContainer {
        position: absolute;
        right: @Margin;
        top: 0;
        padding: @Margin;
        .ObjectWidth(3);
        .BackgroundColor('Panel');

        label, legend,
        input[type="text"],
        input[type="password"] {
            float: left;
            margin-left: 0;
        }

        button {
            .ObjectWidth(3);
            margin-right: 0;
            float: left;
        }
    }
}

button {
    font-size: @FontSize;
    .Color('Enabled');
    border: 0;
    background-color: @UIColor;
    display: block;
    .ObjectSize(1);
    margin-top: @Margin;
    margin-right: @Margin;
    cursor: pointer;
    padding: 0;

    &:hover {
        outline: 2px solid @FocusBorderColor;
    }

    &:active {
        background-color: @ActiveUIColor;
    }

    &:focus {
        outline: 2px solid @FocusBorderColor;
    }

    &:disabled {
        background-color: @DisabledUIColor;
        .Color('Disabled');
        outline: none;
        cursor: default;
    }
}

input[type="text"],
input[type="password"] {
	.ObjectWidth(3, @FocusOutlineSize);
    margin: 0 @Margin @Margin @Margin;
    font-size: @FontSize;
    border: @FocusOutlineSize solid @UIColor;
    padding: 0;
    background-color: @TextBoxBackgroundColor;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        border: @FocusOutlineSize solid lighten(@UIColor,10%);
        background-color: lighten(@TextBoxBackgroundColor, 15%);
    }

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        padding: 0;
        margin: 0;
        display: table-cell;
        background: @UIColor;
        font-size: @FontSize;
        .ObjectSize(1);
        line-height: @FontSize;
        margin-top: @Margin;
        margin-right: @Margin;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
        background-color: @ActiveUIColor;
        border: 1px solid @FocusBorderColor;
    }

    input[type="checkbox"] + label:hover,
    input[type="radio"] + label:hover {
        outline: 2px solid @FocusBorderColor;
    }

    input[type="checkbox"]:focus + label,
    input[type="radio"]:focus + label {
        outline: 2px solid @FocusBorderColor;
    }

label {
}

legend {
}

.Hidden {
    display: none;
}

.GameListPage {
    margin: 0 auto;
}*/
