body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #000000;
  background-color: #b0b0ff;
}
button {
  margin: 4px;
  font-size: 16px;
  color: #ffffff;
  background-color: #b848b8;
  border: 0;
  display: block;
  cursor: pointer;
  padding: 0;
}
button:hover {
  outline: 2px solid #801080;
}
button:active {
  background-color: #c66dc6;
}
button:focus {
  outline: 2px solid #801080;
}
button:disabled {
  color: #000000;
  background-color: #943994;
  outline: none;
  cursor: default;
}
.Panel {
  width: 280px;
  height: 168px;
  background-color: rgba(144, 144, 224, 0.2);
  margin: 4px;
  float: left;
}
.Panel > div:first-child {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  width: 272px;
  height: 24px;
}
.Panel > div:nth-child(2) {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  height: 88px;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
}
.Panel > div:last-child {
  float: left;
  width: 280px;
  height: 112px;
}
.Panel > div:last-child > button {
  float: right;
  width: 48px;
  height: 48px;
}
.Panel form {
  height: auto;
}
.Panel form > form > fieldset > legend {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  width: 272px;
  height: 22px;
}
.Panel form > form > fieldset > div > label {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  width: 264px;
}
.Panel form > form > fieldset > div > label.Error {
  background-color: rgba(255, 64, 64, 0.4);
}
.Panel form > form > fieldset > button[type='submit'] {
  width: 272px;
  height: 48px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 264px;
  margin: 0 4px 4px 4px;
  font-size: 16px;
  border: 2px solid #b848b8;
  padding: 2px;
  background-color: #d591d5;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 2px solid #c66dc6;
  background-color: #eac9ea;
}
#Scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/*
.Menu {
    position: absolute;
    top: 0;
    right: 0;
    .ContainerHeight;

    button {
        float: right;
    }
}

.Heading {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    margin: @Margin;
}

.Page {
    position: absolute;
    top: @ButtonSize + @Margin * 2;
    left: 0;
    right: 0;
    bottom: 0;

    .FormContainer {
        position: absolute;
        right: @Margin;
        top: 0;
        padding: @Margin;
        .ObjectWidth(3);
        .BackgroundColor('Panel');

        label, legend,
        input[type="text"],
        input[type="password"] {
            float: left;
            margin-left: 0;
        }

        button {
            .ObjectWidth(3);
            margin-right: 0;
            float: left;
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        padding: 0;
        margin: 0;
        display: table-cell;
        background: @UIColor;
        font-size: @FontSize;
        .ObjectSize(1);
        line-height: @FontSize;
        margin-top: @Margin;
        margin-right: @Margin;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
        background-color: @ActiveUIColor;
        border: 1px solid @FocusBorderColor;
    }

    input[type="checkbox"] + label:hover,
    input[type="radio"] + label:hover {
        outline: 2px solid @FocusBorderColor;
    }

    input[type="checkbox"]:focus + label,
    input[type="radio"]:focus + label {
        outline: 2px solid @FocusBorderColor;
    }

label {
}

legend {
}

.Hidden {
    display: none;
}

.GameListPage {
    margin: 0 auto;
}*/
