
@BackgroundColor: #afafff;
@InteractionColor: #a020a0;
@HighlightPercent: 5%;
@TextInputBackground: lightness(@InteractionColor, @HighlightPercent*10);

@BaseFontSize: 16px;

@BaseMargin: @BaseFontSize/4;

@TextButtonSize: @BaseFontSize * 4;

/* A Text Input is to be the width of 3 buttons and the margins between them */
@TextInputBorder: @BaseMargin/2;
@TextInputWidth: @TextButtonSize * 3 + @BaseMargin * 2;

@PanelWidth: @BaseFontSize*20;
@PanelHeight: @BaseFontSize*8;


html{
	height:100%;
	width:100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: @BaseFontSize;
    background-color: @BackgroundColor;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
.Menu {
    position: absolute;
    top: 0;
    right: 0;
	left: @BaseMargin*2 + @TextButtonSize * 3;
    height: @TextButtonSize+@BaseMargin*2;
	button{
		float:right;
	}
}
.Heading {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
    margin: @BaseMargin;
	img {
		height: @TextButtonSize;
		width: @TextButtonSize*3;
	}
}
.Page {
	position:absolute;
	top:@TextButtonSize*1.5+@BaseMargin*2;
	left:0px;
	right:0px;
	bottom:0px;
	.FormContainer {
		position:absolute;
		right:0;
		top:0px;
		width:@TextInputWidth + @BaseMargin*2;
		label, legend,
		input[type="text"],
		input[type="password"]{
			float:left;
		}
		button{
			width:@TextInputWidth;
		}
	}
}
button {
    font-size: @BaseFontSize;
    border: 0em;
    background-color: @InteractionColor;
    color: white;
    text-align: center;
    display: block;
    width: @TextButtonSize;
    height: @TextButtonSize;
    line-height: @BaseFontSize;
	margin-top: @BaseMargin;
    margin-right: @BaseMargin;
    cursor: pointer;
    float: right;
	padding:0px;
}
button:hover {
    background-color: lightness(@InteractionColor, @HighlightPercent);
}
button:active {
    background-color: lightness(@InteractionColor, 0-@HighlightPercent);
}
input[type="text"],
input[type="password"] {
	width:@TextInputWidth - @TextInputBorder * 2;
	margin:0 @BaseMargin @BaseMargin @BaseMargin;
	font-size:@BaseFontSize;
	border:@TextInputBorder solid @InteractionColor;
	padding:0px;
	background-color: @TextInputBackground;
}
input[type="text"]:focus,
input[type="password"]:focus{
	outline:none;
	border:@TextInputBorder solid lightness(@InteractionColor, @HighlightPercent);
	background-color: lightness(@TextInputBackground, @HighlightPercent);
}
label{
	margin:@BaseMargin @BaseMargin 0 @BaseMargin;
}
legend {
	margin:@BaseMargin;
}
.Hidden {
    display: none;
}
.GameListPage{
	width:@TextButtonSize*10+@BaseMargin*12;
	margin: 0px auto;
	.GameList {
		width:@TextButtonSize*10+@BaseMargin*12;
		div{
			width:@TextButtonSize*5+@BaseMargin*6;
			height:TextButtonSize*3+@BaseMargin*4;
			float:left;
		}
	}
}
