@Color: rgb(255,255,255);
@UIColor: rgb(184, 72, 184);
@BackgroundColor: rgb(176, 176, 255);
@ActiveUIColor: rgb(208,96,208);
@FocusBorderColor: rgb(128,16,128);
@DisabledColor: rgb(0,0,0);
@DisabledUIColor: rgb(160,160,240);
@TextBoxBackgroundColor: lightness(@UIColor, 20%);
@FontSize: 16px;
@Margin: @FontSize / 4;
@FocusOutlineSize: @Margin / 2;
@ButtonSize: @FontSize * 4;
@TextBoxWidth: @ButtonSize * 3 + @Margin * 2;


body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: @FontSize;
    background-color: @BackgroundColor;
}

.Menu {
    position: absolute;
    top: 0;
    right: 0;
    height: @ButtonSize + @Margin * 2;

    button {
        float: right;
    }
}

.Heading {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    margin: @Margin;
}

.Page {
    position: absolute;
    top: @ButtonSize + @Margin * 2;
    left: 0px;
    right: 0px;
    bottom: 0px;

    .FormContainer {
        position: absolute;
        right: @Margin;
        top: 0px;
        padding: @Margin;
        width: @TextBoxWidth;
        background-color: lightness(@BackgroundColor, -5%);

        label, legend,
        input[type="text"],
        input[type="password"] {
            float: left;
            margin-left: 0px;
        }

        button {
            width: @TextBoxWidth;
            margin-right: 0px;
            float: left;
        }
    }
}

button {
    font-size: @FontSize;
    border: 0em;
    background-color: @UIColor;
    color: @Color;
    display: block;
    width: @ButtonSize;
    height: @ButtonSize;
    line-height: @FontSize;
    margin-top: @Margin;
    margin-right: @Margin;
    cursor: pointer;
    padding: 0px;

    &:hover {
        -moz-outline: 2px solid @FocusBorderColor;
        outline: 2px solid @FocusBorderColor;
    }

    &:active {
        background-color: @ActiveUIColor;
    }

    &:focus {
        -moz-outline: 2px solid @FocusBorderColor;
        outline: 2px solid @FocusBorderColor;
    }

    &:disabled {
        background-color: @DisabledUIColor;
        color: @DisabledColor;
        -moz-outline: none;
        outline: none;
        cursor: default;
    }
}

input[type="text"],
input[type="password"] {
    width: @TextBoxWidth - @FocusOutlineSize * 2;
    margin: 0 @Margin @Margin @Margin;
    font-size: @FontSize;
    border: @FocusOutlineSize solid @UIColor;
    padding: 0px;
    background-color: @TextBoxBackgroundColor;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        -moz-outline: none;
        outline: none;
        border: @FocusOutlineSize solid lightness(@UIColor,10%);
        background-color: lightness(@TextBoxBackgroundColor, 15%);
    }

input[type="checkbox"],
input[type="radio"] {
    padding: 0px;
    margin: 0px;
    width: 1px;
    height: 1px;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        padding: 0px;
        margin: 0px;
        display: table-cell;
        background: @UIColor;
        color: @Color;
        font-size: @FontSize;
        width: @ButtonSize;
        height: @ButtonSize;
        line-height: @FontSize;
        margin-top: @Margin;
        margin-right: @Margin;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
        background-color: @ActiveUIColor;
        border: 1px solid @FocusBorderColor;
    }

    input[type="checkbox"] + label:hover,
    input[type="radio"] + label:hover {
        -moz-outline: 2px solid @FocusBorderColor;
        outline: 2px solid @FocusBorderColor;
    }

    input[type="checkbox"]:focus + label,
    input[type="radio"]:focus + label {
        -moz-outline: 2px solid @FocusBorderColor;
        outline: 2px solid @FocusBorderColor;
    }

label {
    margin: @Margin @Margin 0 @Margin;
}

legend {
    margin: @Margin;
}

.Hidden {
    display: none;
}

.GameListPage {
    margin: 0px auto;

    .GameList {
        .Game {
            position: relative;
            width: @ButtonSize * 5 + @Margin * 4;
            height: @ButtonSize * 3 + @Margin * 2;
            margin-left: @Margin;
            margin-bottom: @Margin;
            float: left;
            background-color: lightness(@BackgroundColor, -5%);

            button.Play {
                position: absolute;
                bottom: @Margin;
                right: @Margin;
                margin-right: 0px;
            }

            button.Edit {
                position: absolute;
                bottom: @ButtonSize + @Margin * 2;
                right: @Margin;
                margin-right: 0px;
            }
        }
    }
}
