<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Accounts/Admin/Name" value="Admin"/>
    <add key="Accounts/Admin/Email" value="test@email.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="App_Data"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>