<script type="text/html" id="Form">
    <div class="Panel">
        <form action="/" method="GET" data-bind="submit: Submit">
            <fieldset>
                <legend data-bind="text:Legend"></legend>
                <!-- ko foreach: fields -->
                <div data-bind="template: { name=Type}"></div>
                <!-- /ko -->
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</script>
<script type="text/html" id="Input_Text">
    <!-- ko if:IsVisible -->
    <!-- ko if:IsPassed -->
    <label data-bind="attr:{'for':Name}, text:Label"></label>
    <!-- /ko -->
    <!-- ko foreach:Validation -->
    <!-- ko if:NotPassed -->
    <label data-bind="attr:{'for':Name}, text:Label" class="Error"></label>
    <!-- /ko -->
    <!-- /ko -->
    <input data-bind="attr:{'id':Name, 'name':Name}, value:Value" type="text"/>
    <!-- /ko -->
</script>
