<script type="text/html" id="Form">
    <div class="Panel">
        <form action="/" method="GET" data-bind="submit: Submit">
            <fieldset>
                <legend data-bind="text:Legend"></legend>
                <!-- ko foreach: Fields -->
                <div data-bind="template: {name:Type}"></div>
                <!-- /ko -->
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</script>
<script type="text/html" id="Input_ShortString">
    <!-- ko if:IsVisible -->
    <label data-bind="attr:{'for':Name}, text:Label"></label>
    <label data-bind="attr:{'for':Name}, validationMessage: Value" class="Error"></label>
    <input data-bind="attr:{'id':Name, 'name':Name}, value:Value, validationElement: Value" type="text"/>
    <!-- /ko -->
</script>
<script type="text/html" id="Input_Password">
    <!-- ko if:IsVisible -->
    <label data-bind="attr:{'for':Name}, text:Label"></label>
    <label data-bind="attr:{'for':Name}, validationMessage: Value" class="Error"></label>
    <input data-bind="attr:{'id':Name, 'name':Name}, value:Value, validationElement: Value" type="password"/>
    <!-- /ko -->
</script>