<div data-bind="if: Page() === 'Games/Edit'">
    <div id="GameEdit">
        <div class="Name" data-bind="text: Name"></div>
        <div>Rules:</div>
        <div data-bind="foreach: RuleGroups">
            <button data-bind="text:Text, attr:{'title': Help}, click: $parent.GoToPage"></button>
        </div>
        <div>Map Related Fun</div>
        <div data-bind="foreach: MapGroups">
            <button data-bind="text:Text, attr:{'title': Help}, click: $parent.GoToPage"></button>
        </div>
    </div>
</div>