@model RangoricMUD.Games.Models.CreateGameModel
<!-- ko if:Page() === 'Games/List' -->
<div>
    <div class="GameListPage">
        <div data-bind="template:{name:'Panel', foreach:Panels}"></div>
        <div class="GameList">
            <div class="Game Panel">
                <div>Create a New Game</div>
                <form data-bind="submit: SubmitCreateGame">
                    <fieldset>
                        <legend></legend>
                        @Html.LabelFor(t => t.Name)
                        @Html.TextBoxFor(t => t.Name, new {data_bind="value:Name"})
                        @Html.ValidationMessageFor(t => t.Name)
                        <button type="submit">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->