@model RangoricMUD.Accounts.Models.SendConfirmationModel
<p>
    Thank you for making an account on RangoricMUD @Model.Name!
</p>
<p>
    In order to have access to all of the features, you will have to confirm your account in game. To do this, cut and paste the number below into the confirmation number box on the site while logged in. You can get the box to appear by hitting the "Confirm" box in the upper right hand area. You will have to reenter your information like your account name and password.
</p>
<p>ConfirmationNumber: @Model.ConfirmationNumber</p>